In [1]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  passwd="Mysql@password1"
)

print(mydb)

<mysql.connector.connection.MySQLConnection object at 0x0000021B74C93588>

In [2]:
mycursor = mydb.cursor()

mycursor.execute("show databases")

In [3]:
myresult = mycursor.fetchall()
for x in myresult:
  print(x)

('information_schema',)
('mysql',)
('performance_schema',)
('retail_db',)
('sys',)

In [4]:
myresult

[('information_schema',),
 ('mysql',),
 ('performance_schema',),
 ('retail_db',),
 ('sys',)]

In [5]:
mycursor.execute("CREATE DATABASE tmp_db")

In [6]:

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  passwd="Mysql@password1",
  database="tmp_db"
)

In [7]:
mycursor = mydb.cursor()

mycursor.execute("CREATE TABLE customers (id INT AUTO_INCREMENT PRIMARY KEY, name VARCHAR(255), address VARCHAR(255))")

In [8]:
sql = "INSERT INTO customers (name, address) VALUES (%s, %s)"
val = ("David", "California")
mycursor.execute(sql, val)

mydb.commit()

print(mycursor.rowcount, "record(s) inserted.")

1 record(s) inserted.

In [9]:
sql = "INSERT INTO customers (name, address) VALUES (%s, %s)"
val = [
    ("Lily", "California"),
    ("David", "San Francisco"),
    ("Micheal", "Las Vegas"),
    ("Sarah", "New York")
]
mycursor.executemany(sql, val)
mydb.commit()
print(mycursor.rowcount, "record(s) inserted.")

4 record(s) inserted.

In [10]:
sql = "SELECT * FROM customers"
mycursor.execute(sql)

myresult = mycursor.fetchall()

for x in myresult:
    print(x)

(1, 'David', 'California')
(2, 'Lily', 'California')
(3, 'David', 'San Francisco')
(4, 'Micheal', 'Las Vegas')
(5, 'Sarah', 'New York')

In [11]:
myresult

[(1, 'David', 'California'),
 (2, 'Lily', 'California'),
 (3, 'David', 'San Francisco'),
 (4, 'Micheal', 'Las Vegas'),
 (5, 'Sarah', 'New York')]

In [12]:
sql = "SELECT * FROM customers WHERE address = %s"
adr = ("California", )
mycursor.execute(sql, adr)
myresult = mycursor.fetchall()
for x in myresult:
    print(x)

(1, 'David', 'California')
(2, 'Lily', 'California')

In [13]:
mycursor.execute("SELECT * FROM customers LIMIT 5")

myresult = mycursor.fetchall()

for x in myresult:
    print(x)

(1, 'David', 'California')
(2, 'Lily', 'California')
(3, 'David', 'San Francisco')
(4, 'Micheal', 'Las Vegas')
(5, 'Sarah', 'New York')

In [14]:
sql = "SELECT * FROM customers WHERE address = %s ORDER by name"
adr = ("California", )
mycursor.execute(sql, adr)
myresult = mycursor.fetchall()
for x in myresult:
    print(x)

(1, 'David', 'California')
(2, 'Lily', 'California')

In [15]:
sql = "DELETE FROM customers WHERE address = %s"
adr = ("California", )
mycursor.execute(sql, adr)
mydb.commit()
print(mycursor.rowcount, "record(s) deleted.")

2 record(s) deleted.

In [16]:

# sql = "DROP TABLE customers"

# mycursor.execute(sql)

In [17]:
sql = "UPDATE customers SET address = %s WHERE name = %s"
val = ("California", "John", )
mycursor.execute(sql, val)
mydb.commit()
print(mycursor.rowcount, "record(s) updated.")

0 record(s) updated.

In [18]:
sql = "CREATE TABLE products (id INT AUTO_INCREMENT PRIMARY KEY, name VARCHAR(255), price VARCHAR(255))"
mycursor.execute(sql)
sql = "INSERT INTO products (name, price) VALUES (%s, %s)"
val = [
    ("macbook", "2000"),
    ("iphone", "1000"),
    ("apple watch", "500")
]
mycursor.executemany(sql, val)
mydb.commit()
print(mycursor.rowcount, "record(s) inserted.")

3 record(s) inserted.

In [19]:
sql = "CREATE TABLE orders (id INT AUTO_INCREMENT PRIMARY KEY, customer_id INT, product_id INT)"
mycursor.execute(sql)
sql = "INSERT INTO orders (customer_id, product_id) VALUES (%s, %s)"
val = [
    ("1", "1"),
    ("1", "2"),
    ("2", "3"),
    ("3", "3")
]
mycursor.executemany(sql, val)
mydb.commit()
print(mycursor.rowcount, "record(s) inserted.")

4 record(s) inserted.

In [20]:
sql = """SELECT 
    c.name, o.id
    FROM customers c
    JOIN orders o ON c.id = o.customer_id
    """
mycursor.execute(sql)
myresult = mycursor.fetchall()
for x in myresult:
    print(x)

('David', 4)

In [21]:
sql = "SELECT \
    c.name, o.id\
    FROM customers c\
    LEFT JOIN orders o ON c.id = o.customer_id\
    "
mycursor.execute(sql)
myresult = mycursor.fetchall()
for x in myresult:
    print(x)

('David', 4)
('Micheal', None)
('Sarah', None)

In [22]:
sql = "SELECT \
    o.id, c.name, p.name, p.price\
    FROM orders o\
    JOIN products p ON o.product_id = p.id\
    JOIN customers c ON o.customer_id = c.id"
mycursor.execute(sql)
myresult = mycursor.fetchall()
for x in myresult:
    print(x)

(4, 'David', 'apple watch', '500')